* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* This along with justtify content set the items in the center of the view port*/
    min-height: 100vh;
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;
}


.card {
    background-color: white;
    max-width: 320px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.qr-code-description h1 {
    color: #1f314f;
    /* Dark blue */
    font-weight: 700;
    font-size: 24px;
    margin: 24px 0 16px;
}

.qr-code-description p {
    color: #7d889e;
    /* Grayish blue */
    font-size: 18px;
    margin-bottom: 24px;
}